body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #edebf1;
    color: #130101;
}

header {
    background-color: #27809b;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

nav {
    background-color: #06090a;
    color: #b76b08;
    padding: 0.5em 0;
}

nav ul {
    padding: 0;
    list-style: none;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 1em;
}

nav a {
    color: #f0f4f4;
    text-decoration: none;
}

main {
    padding: 1em;
   .profile-image {
    width: 300px; /* Adjust the size as needed */
    height: 300px; /* Adjust the size as needed */
    border-radius: 100%; /* This makes the image a circle */
    overflow: hidden; /* Ensures the image stays within the circle */
    margin: 0 auto; /* Centers the div horizontally */
    margin-bottom: 10px; /* Add some space below the image */
}

.profile-image img {
    width: 100%; /* Make the image fill the container */
    height: 100%; /* Maintain aspect ratio */
    object-fit: cover; /* Remove any extra space below the image */
}
}

section {
    margin-bottom: 2em;
    padding: 1em;
    background-color: #fff;
    border: 1px solid #ddd;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #333;
    color: #fff;
}